*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
	min-height: 100vh;
}

input{
	width: 40%;
	height: 40px;
	margin-bottom: 25px;
	background: white;
	border-radius: 15px;
	border: 1px solid rgb(0, 0, 0);
	color: rgb(39, 38, 38);
}

/* .input-group {
	width: 40%;
	height: 40px;
	margin-bottom: 25px;
	background: white;
	border-radius: 20px;
	border: 1px solid rgb(0, 0, 0);
	color: rgb(39, 38, 38);
	transition: .3s;
} */


.contents{
    align-items: center;
    display: block;
}

h1{
    color: rgb(179, 90, 90);
}

button {
	display: block;
	width: 10%;
	margin-top: 10px;
	/* padding: 15px 20px; */
	text-align: center;
	border: none;
	background: #a29bfe;
	outline: none;
	border-radius: 30px;
	font-size: 1.2rem;
	color: #fff;
	cursor: pointer;
	transition: .4s;
	height: 30px;
}

button:hover{
	transform: translateY(-5px);
	background: #7168b6;	
}

select {
	width: 40%;
	height: 40px;
	margin-bottom: 25px;
	border-radius: 15px;
	border: 1px solid black;
}

